{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}

<div class = "container">
    <form method="post" action='/contact'>
    {% csrf_token %}
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="text" id="formFile" name="input1">
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Multiple files input example</label>
        <input class="form-control" type="text" id="formFileMultiple" multiple name="input2">
      </div>
      <div class="mb-3">
        <label for="formFileDisabled" class="form-label">Disabled file input example</label>
        <input class="form-control" type="text" id="formFileDisabled"  name="input3">
      </div>
      <div class="mb-3">
        <label for="formFileSm" class="form-label">Small file input example</label>
        <input class="form-control form-control-sm" id="formFileSm" type="text" name="input4">
      </div>
      <div>
        <label for="formFileLg" class="form-label">Large file input example</label>
        <input class="form-control form-control-lg" id="formFileLg" type="text" name="input5">
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

{% endblock body %}